.left_content_main {
    display: grid;
    height: 100%;
    grid-template-rows: 155px 1fr 1fr;
}

.left_grid {
    background-color: #d7d7d7;
}

#quote_OTD {
    font-size: 4em;
    justify-content: center;
    font-family:'Josefin Sans', sans-serif;
    margin-top: 6px;
    margin-left: 7px;
}

.photo_grid {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 7px;
    column-gap: 7px;
}

.photo_grid_img {
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
}

#img_one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#img_two {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

#img_three {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
}

#img_four {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
}

.article_setion_header {
    margin-bottom: 0%;
    margin-left: 7px;
    font-size: 3.5em;
}

.left_content_main_third {
    display: flex;
}

p {
    margin-top: 0;
}

ul {
    padding-left: 0;
    font-size: 17px;
}

article {
    margin: 0;
    padding-left: 20px;
}

article > h3 {
    font-size: 2.5em;
}

article > p {
    font-size: 1.5em;
}


@media (max-width: 1200px) {
    .photo_grid {
        display: none;
    }
    #quote_OTD {
        font-size: 2em;
    }

    

@media (max-width: 1100px) {

    #quote_OTD {
        font-size: 2.5em;
        justify-content: center;
        font-family:'Josefin Sans', sans-serif;
        margin-top: 3px;
        margin-left: 3.5px;
    }
    .article_setion_header {
        margin-bottom: 0;
        margin-left: 3px;
        font-size: 1.5em;
    }
    .left_content_main {
        display: grid;
        grid-template-rows: 80px 1fr .38fr;
    }


}

@media (max-width: 990px) {
    #quote_OTD {
        font-size: 1.5em;
    }
    }

@media (max-width: 950px) {
    .article_four {
        display: none;
    }
}

@media (max-width: 768px) { 
    /* Main content */
    .main_sub_header {
        margin-bottom: 0;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    #quote_OTD {
        font-size: 1.5em;
    }
    
    /* Articles */
    .article_setion_header {
        margin-bottom: 0;
        font-size: 1.7em;
        margin-top: 0%;
        text-decoration: underline;
    }

    p {
        margin-top: 0;
    }
    
    ul {
        padding-left: 0;
        font-size: 17px;
    }
    
    article {
        margin: 0;
        padding-left: 3px;
    }
    
    article > h3 {
        font-size: .7em;
    }
    
    article > p {
        font-size: .3em;
    }
    .card {
        margin-top: 3px;
        width: 70%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        transition: 0.3s;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    .Image_Food {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    }
    .author {
        margin: 0;
        font-size: px;
    }
    .food_descrip_container {
        text-align: center;
        color: #0d0d0e;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 10px;
    
    }
    .post_button {
        border-radius: 25px;
        font-size: 1.5rem;
        text-align: center;
        color: #d7d7d7;
    }
    
    h4 {
        font-size: 15px;
        margin-bottom: 6px;
    }
}

@media (max-width: 450px) {
    .article_button {
        display: inline;
    }
    .left_content_main {
        display: none;
    }
    #quote_OTD {
        font-size: 1.5em;
        justify-content: center;
        font-family:'Josefin Sans', sans-serif;
        margin-top: 6px;
        margin-left: 7px;
    }
}